.login-container {
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f8f8;
}

.login-form-container {
    flex-direction: column !important; 
    justify-content: center;
    box-shadow: hsla(220, 30%, 5%, 0.05) 0px 5px 15px 0px,
            hsla(220, 25%, 10%, 0.05) 0px 15px 35px -5px;
    gap: 26px !important;
    padding: 50px;
    background-color: white
}

.login-form-section {
    display: flex;
    flex-direction: column !important;
    gap: 25px;
}

/* @media (max-width: 1200px) {
    .login-form {
        justify-content: center;
    }

    .login-inner-container {
        width: 60% !important;
    }

    .login-left-section-container {
        text-align: center;
    }

    .login-btn {
        align-self: center;
    }
}

@media (max-width: 900px) {
    .login-inner-container {
        width: 80% !important;
    }

    .login-left-section-container {
        width: 70% !important;
    }
}

@media (max-width: 600px) {
    .login-inner-container {
        width: 100% !important;
    }

    .login-left-section-container {
        width: 70% !important;
    }

    .login-left-section-form {
        gap: 30px;
    }

    .login-btn {
        font-size: 16px !important;
    }

    .login-auth-btn {
        font-size: 16px !important;
    }

    .login-auth-icon {
        font-size: 24px !important;
    }
} */